* {
 box-sizing: border-box;
}
html, body {
 min-height: 100%;
 width: 100%;
 height: 100%;
 background-color: #282a36;
 font-family: Consolas, monaco, monospace;
}
body {
 overscroll-behavior: contain;
 display: flex;
 justify-content:center;
 align-items:center;
 flex-direction: column;
 margin: 0;
 color:#eff0eb;
}
main {
  overscroll-behavior: contain;
}
#retry {
 display: flex;
 justify-content:center;
 align-items:center;
 flex-direction: column;
 position: absolute;
 background: rgba(0,0,0,0.4);
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
}
/* SkateJump */
#SkateJump {
 position: relative;
 width: 100vw;
 height: 50vw;
 max-width: 800px;
 max-height: 250px;
 display: flex;
 justify-content:flex-start;
 align-items:flex-end;
}
#SkateJump #skater {
  display: grid;
  grid-template-columns: 3% 12.5% 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 height: 100%;
}
#SkateJump #skater span {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width:100%;
}
#SkateJump #skater span#score {
  color: #eff0eb;
  align-items: flex-start;
  justify-content: flex-end;
}

#SkateJump #skater span.pushoff {
  background: url(./images/pushoff.png) no-repeat left bottom/ 400% auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  animation: pushoff 0.8s 0s steps(4),
             pushoff 0.8s 0.8s steps(1),
             pushoff 0.8s 2.4s steps(4) 2,
             pushoff 0.8s 3.2s steps(4);
}
@keyframes pushoff {
    from {background-position: 0 bottom}
    to   {background-position: 135% bottom}
}
#SkateJump #skater span.ollie {
  background: url(./images/ollie.png) no-repeat left bottom/ 500% auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  animation: ollie_start 0.3s 0s steps(2),
             ollie_pause 0.3s 0.3s steps(1),
             ollie_end 0.3s 0.6s steps(2);
}
@keyframes ollie_start {
    from {background-position: 25% 100%}
    to   {background-position: 75% 100%}
}
@keyframes ollie_pause {
    from {background-position: 75% 100%}
    to   {background-position: 75% 100%}
}
@keyframes ollie_end {
    from {background-position: 75% 100%}
    to   {background-position: 125% 100%}
}
#SkateJump #skater span.pause {
  background: url(./images/pushoff.png) no-repeat left bottom/ 400% auto;
  filter: invert(100%);
}
#SkateJump #grids {
 overflow: hidden;
 display: grid;
 grid-template-columns: 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25%;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#SkateJump #grids .line {
  width: 100%;
  height: 100%;
}
#SkateJump #grids .line.ground_cone {
  background: url(./images/cone.png) no-repeat right bottom/ 100% auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#SkateJump #grids .line.ground_1 {
  background: url(./images/ground_1.png) no-repeat right bottom/ 100% auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#SkateJump #grids .line.ground_2 {
  background: url(./images/ground_2.png) no-repeat right bottom/ 100% auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#SkateJump #grids .line.ground_3 {
  background: url(./images/ground_3.png) no-repeat right bottom/ 100% auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
#SkateJump #grids .line.ground_4 {
  background: url(./images/ground_4.png) no-repeat right bottom/ 100% auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* 2048 */
#TwoOFourEight {
 position: relative;
 width: 50vw;
 height: 50vw;
 max-width: 250px;
 max-height: 250px;
}
#TwoOFourEight #debug {
  position: absolute;
  bottom: -30px;
}
#TwoOFourEight #grids {
 overflow: hidden;
 display: grid;
 grid-template-columns: 25% 25% 25% 25%;
 grid-template-rows: 25% 25% 25% 25%;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#TwoOFourEight #grids .line {
  width: 100%;
  height: 100%;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.25), inset -1px -1px 0 rgba(255, 255, 255, 0.25);
  font-size: 10px;
  color: #666;
}
#TwoOFourEight #tiles {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
 height: 100%;
}

#TwoOFourEight #tiles .tile {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: #57c7ff;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5), inset -2px -2px 0 rgba(0, 0, 0, 0.5);
  color: #eff0eb;
  font-size: 20px;
  text-shadow: 1px 1px 0 rgba(255,92,87, 1);
}
#TwoOFourEight #tiles .tile.empty {
 background: transparent;
 box-shadow: none;
}

#TwoOFourEight #tiles .tile.n2 { background: #7bd7ff; }
#TwoOFourEight #tiles .tile.n4 { background: #5cc3fb; }
#TwoOFourEight #tiles .tile.n8 { background: #47b7ef; }
#TwoOFourEight #tiles .tile.n16 { background: #37a7df; }
#TwoOFourEight #tiles .tile.n32 { background: #4aa3d0; }
#TwoOFourEight #tiles .tile.n64 { background: #5d94ac; }
#TwoOFourEight #tiles .tile.n128 { background: #4d849c; }
#TwoOFourEight #tiles .tile.n256 { background: #2f677c; }
#TwoOFourEight #tiles .tile.n512 { background: #55e287; }
#TwoOFourEight #tiles .tile.n1024 { background: #26c57c; }
#TwoOFourEight #tiles .tile.n2048 { background: #34ad75; }
#TwoOFourEight #tiles .tile.n4096 { background: #3f8061; }
#TwoOFourEight #tiles .tile.n8192 { background: #ff8f8c; }
#TwoOFourEight #tiles .tile.n16384 { background: #ec7a77; }
#TwoOFourEight #tiles .tile.n32768 { background: #ff5c57; }
#TwoOFourEight #tiles .tile.n65536 { background: #d25c5a; }
